@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Exo+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.old {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}


@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes fadeInText {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes fadeInUp {
    0% { transform: translateY(100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes bounceIn {
    0% { transform: scale(0.5); opacity: 0; }
    70% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1); }
  }

  
  
  .exo {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    animation: fadeInUp 1.5s ease-in-out forwards;
  }
  

  .cormorant {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

  .image {
    margin-top: -340px !important;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
.fonthead{
  font-size: 25px;
  margin-left:38px ;
  font-family: "Exo 2", sans-serif;
}

.fontpara{
  font-size: 12px;
  margin-left:38px ;
}
.sample{
  margin-top: 50px !important;
}
.sec_main_P{
  margin-left: -2500 !important;
  position: absolute !important;
}

.boxe {
  font-family: cursive;
  cursor: pointer;
  width: 25%;
  margin-top: 10px;
  height: 538px;
  background-color: #48bc8c;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, margin-top 0.5s ease;
  transform-origin: center bottom;
  overflow: hidden;
}

.boxe:hover {
  transform: scaleX(1.08) scaleY(1.05) translateY(-2.5%);
  margin-top: 0px; /* This reduces the margin when hovered */
}


/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  /* ssection 1 */
  .first_section {
  height: 900px !important;    
  width: 100% !important;  
  }
  .section1_h1{
    font-size: 80px !important;
    margin-top: 0px  !important;
    margin-left: 20px !important;
  }
  .image{
    width: 850px !important;
    margin: -110px 0px 0px -300px !important;
    margin-bottom: -800px !important;

  }
  .buttons{
    width: 330px !important;
    font-size: large !important;
    margin-top: 25px !important;
    margin-left: 20px !important;
  }


  /* section 2 */
  .second_section{
    width: 100% !important;
    height: auto !important;
    margin-top: 100px !important;
  }
  .second{
    margin: 0 !important;
    margin-left: -10px !important;
  }

  .imageSec2{
  margin-left: 10px !important;
    
  
  }
  .second_div{
    font-size: 20px !important;
    height: 600px !important;


    margin-left: -150px !important;
    margin-top: 260px !important;

  }

.sec_main_P{
  width: 308px !important;
  
}
  .seconde_div2{
    margin-top: -120px !important;
  }
  .second_h1_tag{
    font-size: 40px !important;
  }
  .cat_box{
    margin-top: -1200px !important;
    height: 900px !important;
  }

  /* Third Section */
 .section_third{
  width: auto !important;
  height: auto;
 }
 .third_sub{
  width: 560px !important;
  margin-left: 65px !important;
  display: flex;
  justify-content: center;
 }
 .fonthead{
  font-size: 20px;
  margin-left: -20px !important;
}
.why_imag{
  flex-direction: row !important;
  display: flex !important; 
}
.whychoose{
  font-size: 20px !important;
  width: 190px;
  /* margin-left: -100px !important; */
}
.fontpara{
  font-size: 10px;
  margin-left: -20px !important;

}
.thisone{
  width: 180px !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.third_sub{
  margin-top: 345px !important;
}
.background_blue{
  width: 70px;
  margin-top: -150px;
}
.achievements{
  margin-left: -60px !important;
  font-size: small !important;
  font-weight: bold;

}
.third_imagi{
  width: 300px;
  margin-left: -150px;
  margin-top: 50px !important;
}
.allinall{
  margin-left: -430px;
}

.testimonials{
  font-size: 80px !important;
}
.testimoni{
  margin-top: -1000px !important;
}
.boxers{
  flex-direction: column;
}
.boxe{
  width: 600px !important;
  margin-left: 15px;
  transform: none !important;  /* Ensure hover does not trigger any scaling */
}

.boxe2{
  margin-top: 10px !important;
}
.box3{
  margin-top: 10px !important;
}
.footer_main{
  display: contents !important;
}
.custom-negative-margin {
  margin-left: -200px !important;
}

.foot_para{
  font-size: small;
  margin: 0;

}

}

@media (max-width: 868px) {

/* SECTION 1 */
  .first_section {
    width:auto;
    height: 700px !important;
    overflow: hidden !important;
    
}
.section1_h1{
  font-size: 65px !important;
  width: 300px !important;
  margin-bottom: -100px !important;
  margin-left: -120px !important;
}
.image{
  width: 490px !important;
  margin-left: -300px !important; 
  margin-top: -200px !important;
  overflow-x: hidden !important;


}
.buttons{
  width: 250px !important;
  font-size: small !important;
  margin-left: -100px !important;
  margin-top: 120px !important;
  /* display: none; */
  
}


  /* Section 2 */

  .second_section{
    width: 110% !important;
    background-color: #242f65 !important;
    height: 1400px  !important;
  }
  .second{
    margin-left: 0px !important;
    display: flex;
  }
  .sec_main_P{
    font-size: 19px !important;
    margin-top: 590px !important;
    margin-left: -50px !important;
    width: 300px !important;
  }


  .imageSec2{
    margin-left: -40px !important;
    width: 450px !important;

  }
  .second_div{
    margin-top: 500px !important;
  }

  .seconde_div2{
    margin: 600px 10px 10px 10px !important;
  }
  .second_h1_tag{
    
  }
 .btn-light{
  width: 330px !important;
}



  /* Third Section */

 .section_third{
  width: auto !important;
  margin-top: 200px !important;
  display: 'hidden ' !important;
}
.third_sub{
  
  margin-left: 100px !important;
}
.fonthead{
  font-size: 18px;
  margin-left: -20px !important;
}
.why_imag{
  margin-top: -100px;


}
.whychoose{
  font-size: 28px !important;
  width: 280px;
  margin: 0px 10px 10px 100px !important;
}
.fontpara{
  width: 300px !important;
  margin-left: -30px !important;
}
.thisone{
  width: 0px !important;
  margin-top: 50px !important;
  margin-bottom: 50px !important;
  margin-left: 30px !important;

}
.icone{
  display: none;
}
.third_sub{
  margin-top: 240px !important;
  margin-left: 50px !important;
  
}

.thisone{
  display: none;
}
.background_blue{
  width: 70px;
  margin-top: -150px;
}
.achievements{
  margin-left: -60px !important;
  font-size: small !important;
  font-weight: bold;
  display: none

}
.third_imagi{
  width: 400px;
  margin-left: 90px !important;
  margin-top: -100px !important;
}
.allinall{


}

.testimonials{
  font-size: 60px auto !important;
  margin-left: -10px !important;
}
.boxers{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission_div{
  height: 120vh !important;
}
.boxe{
  width: 300px !important;
  margin-left: 50px !important;
  
}
.cat_box{
  flex-direction: column;
  width: 100%;
  height: 150vh !important;
  margin-top: -550px !important;
  margin-left: 50px !important;
}
.vision_p{
  margin-top: 0px !important;
  font-size: 12px !important;
}
.iconing{
  width: 280px !important;
  align-items: center;
  margin-left: 40px !important;
  margin-top: 0px;
}

.iconing2{
  margin-top: 20px !important;
}

.iconing12{
  width: 280px !important;
  margin-left: 45px;
  margin-bottom: 40px !important;
  margin-top: 20px !important;
}
/* Section Testimonials */
.testimoni{
  width: 110% !important;
}



  button {
      width: 500px;
      height: 45px;
  }
}

@media (max-width: 576px) {
  .exo {
      font-size: 40px;
  }

  .image {
      margin-top: -150px !important;
  }

  button {
      width: 180px;
      height: 35px;
  }

  .fonthead {
      font-size: 28px;
      margin-left: 20px;
  }

  .fontpara {
      font-size: 15px !important;
      margin-left: -20px !important;
  }
  .cat_box{
    margin-bottom: 322px  !important;
  }
  .testimoni{
    margin-top: -140px !important; 
  }

 
}















